@model IEnumerable<CleanArchitecture.Application.ViewModels.CourseViewModel> 

<div class="container body-content"> 
    <div class="row course-content">
        @foreach (var course in Model)
        {
            <span>@course.Name</span>

            <div class="course-img-container">
                <div class="course-img" style="background-image: url(@course.ImageUrl)">
                </div>
            </div>
        }
    </div>
</div>